<footer>
	<span>&copy;
		{{ getCurrentYear }}
		| Shortify | Developed by <a href="https://github.com/RajKotadia">Raj Kotadia</a>
	</span>

	<p>Icons from <a href="https://flaticon.com">Flaticon</a></p>
</footer>