<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Shortify - A minimalist URL Shortner">
	<meta name="theme-color" content="#0e447a">
	<link rel="shortcut icon" href="img/icon.png" type="image/png" sizes="16x16">
	<title>Shortify</title>
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	{{>header}}

	<main class="container">
		<img src="img/error-500.svg" alt="500-error" height="120px">

		<div class="error">
			<p class="error-code">500</p>
			<p>Internal Server Error</p>
			<p>Shortify can't be reached at the moment. Please try again later.</p>
		</div>
	</main>
	{{>footer}}
</body>

</html>